<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="易捷远程会诊.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="易捷健康体检系统.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <易捷远程会诊.Properties.Settings>
            <setting name="易捷健康体检系统_WebReference_PlatFrom" serializeAs="String">
                <value>http://123.183.220.245:9001/PlatFrom.asmx</value>
            </setting>
            <setting name="易捷健康体检系统_WebCheckReg_update" serializeAs="String">
                <value>http://192.168.1.10:8989/update.asmx</value>
            </setting>
            <setting name="易捷远程会诊_ws_file_OperateFile" serializeAs="String">
                <value>http://123.57.61.160:8005/OperateFile.asmx</value>
            </setting>
        </易捷远程会诊.Properties.Settings>
        <易捷健康体检系统.Properties.Settings>
            <setting name="易捷健康体检系统_WebReference_PlatFrom" serializeAs="String">
                <value>http://123.183.220.245:9001/PlatFrom.asmx</value>
            </setting>
            <setting name="易捷健康体检系统_WebCheckReg_update" serializeAs="String">
                <value>http://192.168.1.10:8989/update.asmx</value>
            </setting>
        </易捷健康体检系统.Properties.Settings>
    </applicationSettings>
</configuration>